.projet__article{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.projet__title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.carousel{
    margin: auto;
    // width: 1400px;
    width: 90dvw;
    overflow: hidden;

    border-left: solid black 1px;
    border-right: solid black 1px;

    margin-bottom: 20px;
}

.carousel-inner{
    background-color: white;
    filter: drop-shadow(2px 2px 2px black);

}

.carousel-item{
    max-height: 800px;
}

.carousel__image{
    height: 50dvw;
}

//Boutons du carousel
.carousel-control-prev{
    margin: auto;
}

.carousel-control-prev:hover{
    background: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.20)
    );
}

.carousel-control-next{
    margin: auto;
}

.carousel-control-next:hover{
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.20)
    );
}

.projet__info{
    max-width: 1000px;
    margin: auto;

    display: flex;
    flex-direction: column;

    text-align: left;
}

.projet__desc{
    border-bottom: solid black 1px;
    padding-bottom: 20px;
}

.projet__tags{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.projet__tag{
    background-color: #130E0A;
    color: white;
    border-radius: 20px;

    display: block;
    min-width: 120px;
    padding: 0 10px;
}

.projet__tag:hover{
    font-weight: 500;
}

.projet__line{
    max-width: 1000px;
    margin: auto;
    border-bottom: solid black 1px;
}